@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    font-family: 'Source+Sans+Pro', sans-serif;
    height: 142vh;
    background-color: rgb(245, 55, 124);
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 42px;
}

.sidebar nav li {
    list-style: none;
    font-size: 18px;
    padding: 15px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: rgb(165, 165, 165); */
    width: 90vw;
    padding: 70px;
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: purple; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.moreabout {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    margin: 10px;
}

.buttons {
    margin-top: 34px;
    padding-bottom: 20px;
}

.buttons button {
    padding: 10px;
    border-radius:20px;
    color: white;
    background-color: rgb(245, 55, 124);
    font-weight: 500px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
}

.buttons button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.hello {
    font-size: 85px;
}

.name {
    font-size: 70px;
    font-weight: bolder;
    font: sans-serif;
}

.about {
    font-size: 50px;
}

.devPic img {
    height: 56vh;

}

.buttons button a {
    text-decoration: none;
    color: white;
}

.blogstitle {
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    margin: 22px 18px;
}

.blog1 {
    padding: 10px;
    font-size: 30px;
    margin: 11px;
}

.blogdescription {
    font-size: 20px;
    margin: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.form {
    margin: 100px 100px;
    font-size: 30px;
}

.formtitle {
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 50px;
    align-items: center;
}

.Email {
    margin: 50px 250px;
}

.Contact {
    margin: 50px 250px;
}

.Name1 {
    margin: 50px 250px;
}

.Enquiry {
    margin: 50px 250px;
}

.formcheck1 {
    margin: 0 250px;

}

.buttonsend {
    padding: 10px;
    border-radius: 50px;
    color: black;
    background-color: rgb(245, 55, 124);
    font-weight: 500px;
    font-size: 20px;
    margin: 0 450px;
    cursor: pointer;
}

.buttonsend:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}

.formcheck1 {
    font-size: medium;
    margin: 0px 255px;
}

.aboutmetitle {
    font-size: 50px;
    margin: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

.aboutdescription {
    font-size: 20px;
    margin: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.skillcontainer {
    margin: 20px;
}

.python {
    background-color: red;
    width: 125px;
    height: 12px;
    border: 2px solid black;
}

.html {
    background-color: rgb(0, 174, 255);
    width: 400px;
    border: 2px solid black;
    height: 12px;
}

.css {
    background-color: rgb(174, 0, 255);
    border: 2px solid black;
    width: 300px;
    height: 12px;
}

.c {
    background-color: rgb(255, 149, 0);
    border: 2px solid black;
    width: 100px;
    height: 12px;
}
.unity {
    background-color: rgb(39, 247, 46);
    border: 2px solid black;
    width: 150px;
    height: 12px;
}
.ham {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    width: 43px;
}
.sidebarGo{
        transform: translate(-443px,0px);
        position: absolute;
}

.cross {
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 140px;
    width: 33px;

}
  /* @media (max-width:1000px) {
    *{
         background-color: rgb(235, 104, 104); 
    }
    .devPic{
        display: none;
    }
     .sidebar{
        transform: translate(-443px,0px);
        position: absolute;

    } 
    
} */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa-instagram {
    background: #3B5998;
    color: white;
  }
  .fa-github {
    background: #ff6f00;
    color: white;
  }
  .fa-linkedin {
    background: #0582ff;
    color: white;
  }
  .main2{
    width: 90vw;
    padding: 70px;
    margin-left: 108px;
}
  
.blogbut{
    padding: 10px;
    border-radius: 50px;
    color: rgb(254, 254, 254);
    background-color: rgb(245, 55, 124);
    font-weight: 500px;
    font-size: 13px;
    cursor: pointer;
}
.blogbut:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}


.contactform {
    padding: 0 34px;
    padding: 14px;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 88px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}
.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0;
    padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.btn-sm{
    padding: 10px;
    border-radius: 50px;
    color: black;
    background-color: rgb(245, 55, 124);
    font-weight: 500px;
    font-size: 13px;
    cursor: pointer;
    }
    .btn:hover{
         color: rgb(0, 0, 0);
         background-color: rgb(255, 255, 255);
    }
